{% extends 'index.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>

        {{ post.body | safe }}

    <!-- comments -->
    <hr>
    {% if request.user.is_authenticated %}
        <form action="" method="POST">
        {% csrf_token %}
            <div class="form-group">
                {{ comment_form }}

               <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <p style="margin-top: 20px">You must be logged in to post a comment.</p>
    {% endif %}


    {% for comm in comments.reverse %}
        <h5>{{ comm }}</h5>
        <hr>
    {% endfor %}


{% endblock %}